[Unit]
Description=Thermal Worker Background Script
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/mi48_v1/thermal
Environment="PATH=/home/admin/mi48_v1/env/bin"
ExecStart=/home/admin/mi48_v1/env/bin/python3 /home/admin/mi48_v1/thermal/thermal_worker.py
Restart=always

[Install]
WantedBy=multi-user.target

