[Unit]
Description=Django Thermal Server
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/mi48_v1
Environment="PATH=/home/admin/mi48_v1/env/bin"
ExecStart=/home/admin/mi48_v1/env/bin/python3 manage.py runserver 0.0.0.0:6001
Restart=always

[Install]
WantedBy=multi-user.target

